---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";

import NavMobile from "./NavMobile";
import LanguagePicker from "./LanguagePicker.astro";

import Image from "astro/components/Image.astro";

// logos imports
import LogoAvneiEn from "../assets/logo/avnei-shelomo_en.webp";
import LogoAvneiHe from "../assets/logo/avnei-shelomo_he.webp";
import LogoChasadaiEn from "../assets/logo/chasadai-gavriel_en.webp";
import LogoChasadaiHe from "../assets/logo/chasadai-gavriel_he.webp";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const logoAvnei = lang === "he" ? LogoAvneiHe : LogoAvneiEn;
const logoChasadai = lang === "he" ? LogoChasadaiHe : LogoChasadaiEn;

const translatedRouts = [
  { name: t("nav.home"), path: translatePath("/") },
  { name: t("nav.about"), path: translatePath("/about/") },
  { name: t("nav.lessons"), path: translatePath("/lessons/") },
  { name: t("nav.gallery"), path: translatePath("/gallery/") },
  { name: t("nav.donate"), path: translatePath("/donate") },
];
---

<header
  class="flex items-center justify-between bg-background-nav p-4 text-frontGround-white"
>
  <!-- Logos -->
  <div class="">
    <a
      href={translatePath("/")}
      aria-label={t("logo.ariaLabel")}
      class="flex gap-4"
    >
      <Image src={logoAvnei} alt="Avnei Shelomo" width={50} />
      <Image src={logoChasadai} alt="Chasadai Gavriel" width={50} />
    </a>
  </div>

  <!-- Desktop Nav -->
  <nav class="hidden md:block">
    <ul>
      {
        translatedRouts.map((route) => (
          <li>
            <a href={route.path}>{route.name}</a>
          </li>
        ))
      }
    </ul>
  </nav>

  <div class="hidden md:flex">
    <LanguagePicker />
  </div>

  <!-- Mobile Nav -->
  <NavMobile routesList={translatedRouts} client:load />
</header>
