---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";

import NavMobile from "./NavMobile";
import LanguagePicker from "./LanguagePicker.astro";
import Link from "./Link.astro";

import { Image } from "astro:assets";

// logos imports
import LogoAvneiEn from "../assets/logo/avnei-shelomo_en.webp";
import LogoAvneiHe from "../assets/logo/avnei-shelomo_he.webp";
import LogoChasadaiEn from "../assets/logo/chasadai-gavriel_en.webp";
import LogoChasadaiHe from "../assets/logo/chasadai-gavriel_he.webp";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const logoAvnei = lang === "he" ? LogoAvneiHe : LogoAvneiEn;
const logoChasadai = lang === "he" ? LogoChasadaiHe : LogoChasadaiEn;

const translatedRouts = [
  { name: t("nav.home"), path: translatePath("/") },
  { name: t("nav.about"), path: translatePath("/about/") },
  {
    name: t("nav.lessons"),
    path: translatePath(""),
    children: [
      { name: t("nav.lessons.audio"), path: translatePath("/lessons/audio/") },
      { name: t("nav.lessons.video"), path: translatePath("/lessons/video/") },
    ],
  },
  { name: t("nav.gallery"), path: translatePath("/gallery/") },
  { name: t("nav.donate"), path: translatePath("/donate") },
];
---

<header
  class="fixed top-0 z-10 w-full bg-nav p-3 py-2 text-lg text-nav-foreground"
>
  <div class="mx-auto flex max-w-6xl items-center justify-between">
    <!-- Logos -->
    <div class="max-w-1/3 z-50">
      <a
        href={translatePath("/")}
        aria-label={t("logo.ariaLabel")}
        class="flex gap-4"
      >
        <Image src={logoAvnei} alt="Avnei Shelomo" height={65} />
        <Image src={logoChasadai} alt="Chasadai Gavriel" height={65} />
      </a>
    </div>

    <!-- Desktop Nav -->
    <nav class="hidden lg:block">
      <ul class="flex">
        {
          translatedRouts.map((route) => {
            if (!route.children) {
              return (
                <li class="px-8">
                  <a href={route.path} class="hover:text-accent">
                    {route.name}
                  </a>
                </li>
              );
            }
            if (route.children) {
              return (
                <li class="group relative px-8">
                  <a href={route.path} class="group hover:text-accent">
                    {route.name}
                  </a>

                  <ul class="absolute inset-x-0 top-full flex-col bg-white text-center text-nav group-hover:flex">
                    {route.children.map((route) => (
                      <li>
                        <a href={route.path} class="hover:text-primary">
                          {route.name}
                        </a>
                      </li>
                    ))}
                  </ul>
                </li>
              );
            }
          })
        }
      </ul>
    </nav>

    <div class="flex items-center gap-12">
      <!-- Language and contacts buttons -->
      <div class="flex items-center gap-10">
        <LanguagePicker />
        <Link
          href="#contact"
          text={t("header.contact")}
          class="hidden bg-accent text-foreground md:block"
        />
      </div>
      <!-- Mobile Nav -->
      <div class="lg:hidden">
        <NavMobile
          routesList={translatedRouts}
          transContact={t("header.contact")}
          client:load
        />
      </div>
    </div>
  </div>
</header>
