---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../../i18n/utils";
import audioData from "../../data/cloudinary-assets.json";

import { Image } from "astro:assets";
import refaelImage from "../../assets/gallery/kollel-vibes/KV2A6208.webp";

// const catalogImages = Object.values(import.meta.glob("/src/assets/lessons-categories/*", {eager: true}));

interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const firstLevelFolder = audioData.categories;
---

<section class="main-section-wrapper">
  <div class="heading-wrapper">
    <h1>{title}</h1>
    <div class="mt-8 flex max-w-5xl flex-col items-center gap-8 lg:flex-row">
      <p class="text-lg tracking-widest text-foreground-200 md:text-xl">
        {subtitle}
      </p>
      <Image
        src={refaelImage}
        alt="רפאל כהן"
        class="aspect-square rounded-3xl object-cover lg:min-w-80"
      />
    </div>
  </div>
  <div
    class="content-wrapper mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-12 md:grid-cols-2 lg:grid-cols-3"
  >
    {
      firstLevelFolder.map((folder) => (
        <a
          href={`${translatePath("/lessons/audio/")}${folder.slug}`}
          class="overflow-hidden rounded-2xl bg-white transition-all hover:shadow-lg"
        >
          <img
            alt="category image"
            src={folder.image}
            class="aspect-[2/1] w-full object-cover transition-all duration-500 ease-linear hover:scale-110"
          />
          <div class="p-4">
            <h2 class="mb-4 text-center text-lg font-bold text-primary-200">
              {folder.name}
            </h2>
            <p class="text-foreground-200">{folder.description}</p>
          </div>
        </a>
      ))
    }
  </div>
</section>
